[adtl.defs.admissionDateHierarchy]
combinedType = "firstNonNull"
        fields = [
            { field = "hostdat", description = "Admission date at this facility" },
            { field = "cestdat", description = "Onset date of first/earliest symptom" },
            { field = "dsstdat", description = "Date of enrolment" },
            { field = "daily_dsstdat", description = "Date of assessment" }
        ]

[adtl.defs.followupDateHierarchy]
combinedType = "firstNonNull"
fields = [
{ field = "flw_survey_date", description = "About you and your COVID-19 illness (if you're completing this survey on behalf of a child or adult that you care for, all the questions relate to their health and wellbeing)" },
{ field = "dsstdtc", description = "Outcome date", if = { dsterm = 4 } },
{ field = "dsstdtc_v2", description = "Outcome date", if = { dsterm_v2 = 4 } }
]

[[observation]]
name = "haemorrhage"
date = { ref = "observationDateHierarchy" }
phase = "admission"
is_present = { field = "cough_ceoccur_v2", ref = "Y/N/NK" }
if = { bleed_ceoccur_v2 = { "!=" = 3} }
#description = "Bleeding (Haemorrhage)"

[[observation]]
name = "cough"
date = { ref = "observationDateHierarchy" }
phase = "admission"
is_present = { if field = "cough_ceoccur_v2", ref = "Y/N/NK" }
if = { cough_ceoccur_v2 = { "!=" = 3} }
#description = "Cough"

[[observation]]
name = "cough"
date = { ref = "followupDateHierarchy" }
phase = "followup"
is_present = { if field = "flw_cough", values = { 1 = true, 0 = false } }
if = { flw_cough = { "!=" = 99} }
#description = "Cough"

[[observation]]
name = "avpu"
date = { field = "daily_dsstdat", description = "Date of assessment" }
phase = "study"
value_char = { field = "avpu_vsorres", values = { 1 = "Alert", 2 = "Verbal", 3 = "Pain", 4 = "Unresponsive" }}
if = { avpu_vsorres = { "!=" = 5} }

[[observation]]
name = "oxygen_saturation_percent"
phase = "admission"
date = { field = "hostdat", description = "Admission date at this facility" } # USE one of the defs above?
context = { field = "oxy_vsorresu", description = "Oxygen saturation on:", values = { 1 = ["Room air"], 2 = ["Oxygen therapy"]} }
value_num = { field = "oxy_vsorres" }
if = { oxy_vsyn = 1 }

[[observation]]
name = "glasgow_coma_score"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "daily_gcs_vsorres" }
if = { daily_gcs_lbyn = 1 }
#description = "Glasgow Coma Score (GCS/15)"

[[observation]]
name = "conjunctivitis"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "conjunct_ceoccur_v2", ref = "Y/N/NK" }
if = { conjunct_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "malnutrition"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "malnutrition_mhyn", ref = "Y/N/NK" }
if = { malnutrition_mhyn = { "!=" = 3} }

[[observation]]
name = "rhinorrhoea"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "runnynose_ceoccur_v2", ref = "Y/N/NK" }
if = { runnynose_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "seizures"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "seizures_cecoccur_v2", ref = "Y/N/NK" }
if = { seizures_cecoccur_v2 = { "!=" = 3} }

[[observation]]
name = "sore_throat"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "sorethroat_ceoccur_v2", ref = "Y/N/NK" }
if = { sorethroat_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "vomiting"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "vomit_ceoccur_v2", ref = "Y/N/NK" }
if = { vomit_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "vomiting"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_nausea", values = { 1 = true, 0 = false } }
if = { flw_nausea = { "!=" = 99} }

[[observation]]
name = "wheezing"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "wheeze_ceoccur_v2", ref = "Y/N/NK" }
if = { wheeze_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "consciousness"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "confusion_ceoccur_v2", ref = "Y/N/NK" }
if = { confusion_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "chest_pain"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "chestpain_ceoccur_v2", ref = "Y/N/NK" }
if = { chestpain_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "joint_pain"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "jointpain_ceoccur_v2", ref = "Y/N/NK" }
if = { jointpain_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "joint_pain"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_joint_pain", values = { 1 = true, 0 = false } }
if = { flw_joint_pain = { "!=" = 99} }

[[observation]]
name = "muscle_aches"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "myalgia_ceoccur_v2", ref = "Y/N/NK" }
if = { myalgia_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "muscle_aches"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_muscle_pain", values = { 1 = true, 0 = false } }
if = { flw_muscle_pain = { "!=" = 99} }

[[observation]]
name = "lymphadenopathy"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "lymp_ceoccur_v2", ref = "Y/N/NK" }
if = { lymp_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "shortness_breath"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "shortbreath_ceoccur_v2", ref = "Y/N/NK" }
if = { shortbreath_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "shortness_breath"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_breathless", values = { 1 = true, 0 = false } }
if = { flw_breathless = { "!=" = 99} }

[[observation]]
name = "abdominal_pain"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "abdopain_ceoccur_v2", ref = "Y/N/NK" }
if = { abdopain_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "diarrhoea"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "diarrhoea_ceoccur_v2", ref = "Y/N/NK" }
if = { diarrhoea_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "diarrhoea"
phase = "admission"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_diarrhoea", values = { 1 = true, 0 = false } }
if = { flw_diarrhoea = { "!=" = 99} }

[[observation]]
name = "malaise"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "fatigue_ceoccur_v2", ref = "Y/N/NK" }
if = { fatigue_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "headache"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "headache_ceoccur_v2", ref = "Y/N/NK" }
if = { headache_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "headache"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_headache", values = { 1 = true, 0 = false } }
if = { flw_headache = { "!=" = 99} }

[[observation]]
name = "skin_rash"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "rash_ceoccur_v2", ref = "Y/N/NK" }
if = { rash_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "skin_rash"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_skin_rash", values = { 1 = true, 0 = false } }
if = { flw_skin_rash = { "!=" = 99} }

[[observation]]
name = "history_fever"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "fever_ceoccur_v2", ref = "Y/N/NK" }
if = { fever_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "history_fever"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_fever", values = { 1 = true, 0 = false } }
if = { flw_fever = { "!=" = 99} }

[[observation]]
name = "cough_haemoptysis"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "coughhb_ceoccur_v2", ref = "Y/N/NK" }
if = { coughhb_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "cough_sputum"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "coughsput_ceoccur_v2", ref = "Y/N/NK" }
if = { coughsput_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "diastolic_blood_pressure"
phase = "admission"
date = { ref = admissionDateHierarchy }
value_num = { field = "admission_diabp_vsorres" }
if = { diabp_vsyn = 1 }

[[observation]]
name = "diastolic_blood_pressure"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "diastolic_vsorres" }
if = { diastolic_vsyn = 1 }

[[observation]]
name = "heart_rate"
phase = "admission"
date = { ref = admissionDateHierarchy }
value_num = { field = "hr_vsorres" }
if = { hr_vsyn = 1 }

[[observation]]
name = "respiratory_rate"
phase = "admission"
date = { ref = admissionDateHierarchy }
value_num = { field = "rr_vsorres" }
if = { rr_vsyn = 1 }

[[observation]]
name = "systolic_rate"
phase = "admission"
date = { ref = admissionDateHierarchy }
value_num = { field = "sysbp_vsorres" }
if = { sysbp_vsyn = 1 }

[[observation]]
name = "systolic_rate"
phase = "admission"
date = { ref = admissionDateHierarchy }
value_num = { field = "systolic_vsorres" }
if = { systolic_vsyn = 1 }

[[observation]]
name = "lower_chest_wall_indrawing"
phase = "admission"
date = { field = "hostdat", description = "Admission date at this facility" }
is_present = { if field = "lowerchest_ceoccur_v2", ref = "Y/N/NK" }
if = { lowerchest_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "skin_ulcers"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "skinulcers_ceoccur_v2", ref = "Y/N/NK" }
if = { skinulcers_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "severe_dehydration"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "dehydration_vsorres", ref = "Y/N/NK" }
if = { dehydration_vsorres = { "!=" = 3 } }

[[observation]]
name = "capillary_refill"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "stercap_vsorres", ref = "Y/N/NK" }
if = { stercap_vsorres = { "!=" = 3 } }

[[observation]]
name = "loss_smell"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "anosmia_ceoccur_v2", ref = "Y/N/NK" }
if = { anosmia_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "loss_smell"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_loss_smell", values = { 1 = true, 0 = false } }
if = { flw_loss_smell = { "!=" = 99} }

[[observation]]
name = "loss_taste"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "ageusia_ceoccur_v2", ref = "Y/N/NK" }
if = { ageusia_ceoccur_v2 = { "!=" = 3} }

[[observation]]
name = "loss_taste"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_loss_taste", values = { 1 = true, 0 = false } }
if = { flw_loss_taste = { "!=" = 99} }

[[observation]]
name = "inability_walk"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_eq5d_mb_p", values = { 2 = "I had slight problems in walking about", 3 = "I had moderate problems in walking about", 4 = "I had severe problems in walking about", 5 = "I was unable to walk about" } }
if = { flw_eq5d_mb_p = { "!=" = 1} }

[[observation]]
name = "inability_walk"
phase = "followup"
date = { ref = followupDateHierarchy }
is_present = { if field = "flw_eq5d_mb", values = { 2 = "I had slight problems in walking about", 3 = "I had moderate problems in walking about", 4 = "I had severe problems in walking about", 5 = "I was unable to walk about" } }
if = { flw_eq5d_mb = { "!=" = 1 } }

[[observation]]
name = "ear_pain"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "earpain_ceoccur_v2", ref = "Y/N/NK" }
if = { earpain_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "clinical_frailty_score"
phase = "admission"
date = { ref = admissionDateHierarchy }
is_present = { if field = "clinical_frailty", values = { 1 = 1, 2 = 2, 3 = 3, 4 = 4, 5 = 5, 6 = 6, 7 = 7, 8 = 8, 9 = 9 }  }
if = { clinical_frailty = { "!=" = 10 } }

[[observation]]
name = "glasgow_coma_score"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "daily_gcs_vsorres" }
if = { daily_gcs_lbyn = 1 }

[[observation]]
name = "renal_replacement_dialysis"
phase = "study"
date = { ref = admissionDateHierarchy }
is_present = { if field = "rrt_prtrt", ref = "Y/N/NK" }
if = { rrt_prtrt = { "!=" = 3} }

[[observation]]
name = "dialysis_hemofiltration"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
is_present = { if field = "daily_rrt_cmtrt", ref = "Y/N/NK" }
if = { daily_rrt_cmtrt = { "!=" = 3} }

[[observation]]
name = "highest_temperature"
phase = "admission"
date = { ref = admissionDateHierarchy }
value_num = { field = "temp_vsorres", source_unit = { field = "temp_vsorresu", values = { 1 = "째C", 2 = "째F" } }
if = { temp_vsyn = 1 }


[[observation]]
name = "highest_temperature"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "daily_temp_vsorres", source_unit = { field = "daily_temp_vsorresu", values = { 1 = "째C", 2 = "째F" }}
if = { daily_temp_vsorres = { "!=" = "" } }
# not sure about the 'if' here ...

[[observation]]
name = "PaO2"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "daily_pao2_lborres" }
if = { daily_pao2_lbyn = 1 }
source_unit = { field = "daily_pao2_lborresu", values = { 1 = "kPa", 2 = "mmHg" }, description = "PaO2 unit" }

[[observation]]
name = "mean_arterial_pressure"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "daily_meanart_vsorres"}
if = { daily_meanart_lbyn = 1 }

[[observation]]
name = "pH"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "daily_ph_lborres"}
if = { daily_ph_lbyn = 1 }

[[observation]]
name = "PaO2_sample_type"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
value_num = { field = "daily_pao2_lbspec", values = { 1 = "Arterial", 2 = "Venous", 3 = "Capillary" } }
if = { daily_pao2_lbyn = 1 }

[[observation]]
name = "base_excess"
phase = "study"
date = { field = "daily_dsstdat", description = "Date of assessment" }
is_present = { if field = "daily_baseex_lborres", ref = "Y/N/NK" }
if = { daily_baseex_lborres = { "!=" = 3} }
