[adtl.defs."admissionDateHierarchy"]
combinedType = "firstNonNull"
fields = [
    { field = "hostdat", description = "Admission date at this facility" },
    { field = "icu_hostdat", description = "Date of ICU admission" },
    { field = "ia_dateicu", description = "Date Of ICU Admission\n(Treatment) 6.1 Date of ICU admission" }, # eot_icu_admis	form
    { field = "ef_dateobs", description = "Date observation" }, # eot_daily form - - is this date relevant?
    { field = "ctr_dateass_v2", description = "Date of Assessment" }, # coagulation form - - is this date relevant?
    { field = "ccm_a_dat", description = "DATE OF ASSESSMENT" }, # critical_care_module
    { field = "ccm_b_icu_hodat", description = "ICU ADMISSION DATE" }, # critical_care_module
    { field = "c_ntpbnpdate", description = "Date of assessment" }, # cardiac form - is this date relevant?
    { field = "cestdat", description = "Onset date of first/earliest symptom" },
    { field = "dsstdat", description = "Date of enrolment" }
]

[adtl.defs."dailyDateHierarchy"]
combinedType = "firstNonNull"
fields = [
    { field = "daily_dsstdat", description = "DATE OF ASSESSMENT" },
    { field = "daily_lbdat", description = "Date of assessment" }
]

[[observation]]
name = "haemorrhage"
date = { ref = "admissionDateHierarchy" }
phase = "admission"
is_present = { field = "bleed_ceoccur_v2", ref = "Y/N/NK" }
if = { bleed_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "bleeding_haemorrhage"
date = { ref = "admissionDateHierarchy" }
phase = "admission"
is_present = { field = "bleed_cetermy_v2", ref = "Y/N/NK" }
if = { bleed_cetermy_v2 = { "!=" = 3 } }

[[observation]]
name = "cough"
date = { ref = "admissionDateHierarchy" }
phase = "admission"
is_present = { field = "cough_ceoccur_v2", ref = "Y/N/NK" }
if = { cough_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "cough"
date = { ref = "admissionDateHierarchy" }
phase = "admission"
is_present = { field = "cough_ceoccur_v2_2", values = { 1 = true, 2 = true, 3 = true, 0 = false } }
if = { cough_ceoccur_v2_2 = { "!=" = 4 } }
# description = "Cough"

[[observation]]
name = "avpu"
date = { ref = "admissionDateHierarchy" }
phase = "study"
value_char = { field = "avpu_vsorres", values = { 1 = "Alert", 2 = "Verbal", 3 = "Pain", 4 = "Unresponsive" } }
if = { avpu_vsorres = { "!=" = "" } } # is this correct? there is no branching logic for this .. no 'if' statement here

[[observation]]
name = "oxygen_saturation_percent"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
context = { field = "oxy_vsorresu", description = "Oxygen saturation on:", values = { 1 = ["Room air"], 2 = ["Oxygen therapy"] } }
value_num = { field = "oxy_vsorres" }
if = { oxy_vsyn = 1 }

[[observation]]
name = "oxygen_saturation_percent"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
value_num = { field = "daily_oxy_vsorres" }
if = { daily_oxy_vsyn = 1 }

[[observation]]
name = "glasgow_coma_score"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
value_num = { field = "gcs_vsorres" }
if = { gcs_vsyn = 1 }

[[observation]]
name = "glasgow_coma_score"
phase = "study"
date = { ref = "admissionDateHierarchy" } 
value_num = { field = "daily_gcs_vsorres" }
if = { daily_gcs_lbyn = 1 }
#description = "Glasgow Coma Score (GCS/15)"

[[observation]]
name = "conjunctivitis"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "conjunct_ceoccur_v2", ref = "Y/N/NK" }
if = { conjunct_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "malnutrition"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "malnutrition_mhyn", ref = "Y/N/NK" }
if = { malnutrition_mhyn = { "!=" = 3 } }

[[observation]]
name = "runny_nose"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "runnynose_ceoccur_v2", ref = "Y/N/NK" }
if = { runnynose_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "seizures"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "seizures_cecoccur_v2", ref = "Y/N/NK" }
if = { seizures_cecoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "sore_throat"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "sorethroat_ceoccur_v2", ref = "Y/N/NK" }
if = { sorethroat_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "vomiting_nausea"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "vomit_ceoccur_v2", ref = "Y/N/NK" }
if = { vomit_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "wheezing"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "wheeze_ceoccur_v2", ref = "Y/N/NK" }
if = { wheeze_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "confusion"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "confusion_ceoccur_v2", ref = "Y/N/NK" }
if = { confusion_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "chest_pain"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "chestpain_ceoccur_v2", ref = "Y/N/NK" }
if = { chestpain_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "joint_pain"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "jointpain_ceoccur_v2", ref = "Y/N/NK" }
if = { jointpain_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "muscle_aches"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "myalgia_ceoccur_v2", ref = "Y/N/NK" }
if = { myalgia_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "lymphadenopathy"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "lymp_ceoccur_v2", ref = "Y/N/NK" }
if = { lymp_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "shortness_of_breath"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "shortbreath_ceoccur_v2", ref = "Y/N/NK" }
if = { shortbreath_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "abdominal_pain"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "abdopain_ceoccur_v2", ref = "Y/N/NK" }
if = { abdopain_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "diarrhoea"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "diarrhoea_ceoccur_v2", ref = "Y/N/NK" }
if = { diarrhoea_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "fatigue_malaise"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "fatigue_ceoccur_v2", ref = "Y/N/NK" }
if = { fatigue_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "headache"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "headache_ceoccur_v2", ref = "Y/N/NK" }
if = { headache_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "skin_rash"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "rash_ceoccur_v2", ref = "Y/N/NK" }
if = { rash_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "history_of_fever"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "fever_ceoccur_v2", ref = "Y/N/NK" }
if = { fever_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "cough_with_haemoptysis"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "coughhb_ceoccur_v2", ref = "Y/N/NK" }
if = { coughhb_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "cough_with_sputum_production"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "coughsput_ceoccur_v2", ref = "Y/N/NK" }
if = { coughsput_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "diastolic_blood_pressure_mmHg"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
value_num = { field = "admission_diabp_vsorres" }
if = { diabp_vsyn = 1 }

[[observation]]
name = "diastolic_blood_pressure_mmHg"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "diastolic_vsorres" }
if = { diastolic_vsyn = 1 }

[[observation]]
name = "heart_rate_bpm"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
value_num = { field = "hr_vsorres" }
if = { hr_vsyn = 1 }

[[observation]]
name = "heart_rate_bpm"
phase = "admission"
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "daily_hr_vsorres" }
if = { daily_hr_vsyn = 1 }

[[observation]]
name = "respiratory_rate"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
value_num = { field = "rr_vsorres" }
if = { rr_vsyn = 1 }

[[observation]]
name = "respiratory_rate"
phase = "admission"
date = { ref = "dailyDateHierarchy" }
value_num = { field = "daily_rr_vsorres" } 
if = { daily_rr_vsyn = 1 }

[[observation]]
name = "systolic_blood_pressure_mmHg"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
value_num = { field = "sysbp_vsorres" } 
if = { sysbp_vsyn = 1 }

[[observation]]
name = "systolic_blood_pressure_mmHg"
phase = "admission"
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "systolic_vsorres" }
if = { systolic_vsyn = 1 }

[[observation]]
name = "lower_chest_wall_indrawing"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "lowerchest_ceoccur_v2", ref = "Y/N/NK" }
if = { lowerchest_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "skin_ulcers"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "skinulcers_ceoccur_v2", ref = "Y/N/NK" }
if = { skinulcers_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "severe_dehydration"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "dehydration_vsorres", ref = "Y/N/NK" }
if = { dehydration_vsorres = { "!=" = 2 } }

[[observation]]
name = "sternal_capillary_refill_time_greater_2s"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "stercap_vsorres", ref = "Y/N/NK" }
if = { stercap_vsorres = { "!=" = 3 } }

[[observation]]
name = "sternal_capillary_refill_time_greater_2s"
phase = "admission"
date = { ref = "dailyDateHierarchy" } 
is_present = { field = "daily_stercap_vsorres", values = { 1 = true, 0 = false } }
if = { daily_stercap_vsorres = { "!=" = 3 } }

[[observation]]
name = "loss_of_smell"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "anosmia_ceoccur_v2", ref = "Y/N/NK" }
if = { anosmia_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "loss_of_taste"
phase = "admission"
date = { ref = "followupDateHierarchy" }
is_present = { field = "ageusia_ceoccur_v2", ref = "Y/N/NK" }
if = { ageusia_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "inability_to_walk"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "inablewalk_ceoccur_v2", ref = "Y/N/NK" }
if = { inablewalk_ceoccur_v2 = { "!=" = 3 } }

[[observation]]
name = "clinical_frailty_score"
phase = "admission"
date = { ref = "admissionDateHierarchy" } # this is in the critical_care_module
value_num = { field = "ccm_b_cfs_rsorres" }
if = { ccm_b_cfs_rsyn = 1 }

[[observation]]
name = "renal_replacement_therapy_dialysis"
phase = "study"
date = { ref = "admissionDateHierarchy" } # date in the treatment form? ..
is_present = { field = "rrt_prtrt", ref = "Y/N/NK" }
if = { overall_rrt_prtrt = { "!=" = 3 } }

[[observation]]
name = "renal_replacement_therapy_dialysis"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
is_present = { field = "daily_rrt_cmtrt", ref = "Y/N/NK" }
if = { daily_rrt_cmtrt = { "!=" = 3 } }

[[observation]]
name = "renal_replacement_therapy_dialysis"
phase = "study" # in the outcome form
date = { ref = "admissionDateHierarchy" }
is_present = { field = "renal_proccur", ref = "Y/N/NK" }
if = { renal_proccur = { "!=" = 3 } }

[[observation]]
name = "renal_replacement_therapy_dialysis"
phase = "study" 
date = { ref = "admissionDateHierarchy" } # in the critical_care_module form
is_present = { field = "ccm_b_renal_prtrt", ref = "Y/N/NK" }
if = { ccm_b_renal_prtrt = { "!=" = 3 } }

[[observation]] # not sure if this mapping (below) needs to be there ..
name = "renal_replacement_therapy_dialysis"
phase = "study"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "k_dicuddial", values = { 1 = true, 0 = false } }
if = { k_dicuddial = { "!=" = "" } }
# description = "Is this patient still dialysis dependent at ICU discharge?"

[[observation]] # not sure if this mapping (below) needs to be there ..
name = "renal_replacement_therapy_dialysis"
phase = "study"
date = { ref = "admissionDateHierarchy" }
is_present = { field = "k_dhosddial", values = { 1 = true, 0 = false } }
if = { k_dhosddia = { "!=" = "" } }
# description = "Is this patient still dialysis dependent at Hospital discharge?"

[[observation]]
name = "temperature_celsius"
phase = "admission"
date = { ref = "admissionDateHierarchy" }
value_num = { field = "temp_vsorres", source_unit = { field = "temp_vsorresu", values = { 1 = "째C", 2 = "째F" } } }
if = { temp_vsyn = 1 }

[[observation]]
name = "temperature_celsius"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "daily_temp_vsorres" , source_unit = { field = "daily_temp_vsorresu", values = { 1 = "째C", 2 = "째F" } } } 
if = { daily_temp_vsyn = 1 }

[[observation]]
name = "pao2"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "daily_pao2_lborres", source_unit = { field = "daily_pao2_lborresu", values = { 1 = "kPa", 2 = "mmHg" }, description = "PaO2 unit" } }
if = { daily_pao2_lbyn = 1 }

[[observation]]
name = "mean_arterial_blood_pressure_mmHg"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "daily_meanart_vsorres"}
if = { daily_meanart_lbyn = 1 }

[[observation]]
name = "pH"
phase = "study" 
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "daily_ph_lborres"}
if = { daily_ph_lbyn = 1 }

[[observation]]
name = "pao2_sample_type"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
value_num = { field = "daily_pao2_lbspec", values = { 1 = "Arterial", 2 = "Venous", 3 = "Capillary" } }
if = { daily_pao2_lbyn = 1 }

[[observation]]
name = "base_excess"
phase = "study"
date = { ref = "dailyDateHierarchy" }
is_present = { field = "daily_baseex_lborres" }
if = { daily_baseex_lbyn = 1 }

[[observation]]
name = "richmond_agitation-sedation_scale"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
is_present = { field = "rass_vsorres" }
if = { rass_vsyn = 1 }

[[observation]]
name = "riker_sedation-agitation_scale"
phase = "study"
date = { ref = "dailyDateHierarchy" } 
is_present = { field = "sas_vsorres" }
if = { rass_sas_vsyn = 4 }

[[observation]]
name = "neuromuscular_blocking_agents" # should this be in the visit table - it's a treatment ..
phase = "study"
date = { ref = "dailyDateHierarchy" } 
is_present = { field = "daily_neuro_cmtrt", ref = "Y/N/NK"}
if = { rass_sas_vsyn = 4 }

# TO DO: combinedType for 'daily date'
